.Box {
    width: auto;
    min-width: 150px;
    height: auto;
    min-height: 150px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.red {
    background: red;
}

.green {
    background: green;
}

.highlight {
    border: 5px solid lightskyblue;
}